<%- include("partials/header"); -%>
    <h1>Home</h1>
    <% books.forEach(function(book){ %>

        <h1><a href="/books/<%=book._id%>">Title =
                <%=book.title%>
            </a></h1>
        <p>Subject = 
            <%=book.subject %>
        </p>
        <p>Assecssion = 
            <%=book.assecssion %>
        </p>
        <p>Shelf = 
            <%=book.shelf %>
        </p>
        <% }) %>
            <br>
            <%- include("partials/footer"); -%>